{{template "header.html" .}}

<body style="background: #ffffff;/*padding-left: 200px;*//*padding-right: 200px;*//*margin-left: 20em;*//*margin-right: 20em;*//*margin-top: 2em;*/text-align: left;margin-bottom: 2em;">
    <div style="margin: auto;margin-left: 10em;margin-right: 10em;">
        <h1 class="text-info" style="margin-top: .5em;">Make a Reservation</h1>
        <hr style="/*color: rgb(0,0,0);*/background: #000000;">
        <div style="margin-left: 1em;margin-right: 5em;">
            <div class="row">
                <div class="col-3" style="width: 358px;"><label class="col-form-label" style="width: 150px;margin-bottom: 5px;"><strong>Event Name</strong></label></div>
                <div class="col"><label class="col-form-label" style="width: 400px;margin-bottom: 5px;">Dog Catcher Fundraiser<br></label></div>
            </div>
            <div class="row">
                <div class="col-3"><label class="col-form-label" style="width: 150px;margin-bottom: 5px;"><strong>Contact Email</strong></label></div>
                <div class="col"><label class="col-form-label" style="width: 400px;margin-bottom: 5px;">kennelKeith@gmail.com</label></div>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"><img></div>
            </div>
        </div>
        <p></p>
        <hr style="/*color: rgb(0,0,0);*/background: #000000;margin-top: 20px;margin-bottom: 20px;"><label style="width: 500px;color: rgb(23,162,184);"><strong>Reserve Seats</strong><br></label>
        <p>Enter your name and email, then select the number of seats you would like to reserve.</p>
        <div style="margin-left: 1em;">
            <div class="row">
                <div class="col"><label style="width: 60px;">Name&nbsp;</label><input class="border rounded border-info" type="text" style="width: 300px;color: #808080;"></div>
            </div>
            <div class="row">
                <div class="col"><label style="width: 60px;">Email</label><input class="border rounded border-info" type="text" style="width: 300px;color: #808080;"></div>
            </div>
        </div>
        <div class="table-responsive" style="margin-top: 15px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Seat Group Name</th>
                        <th>Total Seats</th>
                        <th>Available Seats</th>
                        <th># Seats</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Group 1</td>
                        <td>24</td>
                        <td>3</td>
                        <td><input class="border rounded border-info" type="number" style="width: 50px;border: 1px solid rgb(23,162,184);margin-top: 4px;" placeholder="0" min="0" max="999" name="Seats1"></td>
                        <td><button class="btn btn-primary bg-info" type="button" style="padding-top: 6px;">Reserve</button></td>
                    </tr>
                    <tr>
                        <td>Group 2</td>
                        <td>12</td>
                        <td>5</td>
                        <td><input class="border rounded border-info" type="number" style="width: 50px;border: 1px solid rgb(23,162,184);margin-top: 4px;" placeholder="0" min="0" max="999" name="Seats1"></td>
                        <td><button class="btn btn-primary bg-info" type="button">Reserve</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <hr style="/*color: rgb(0,0,0);*/background: #000000;"><button class="btn btn-primary bg-dark" type="button" style="margin: 5px;background: #414141;">Exit</button></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

{{template "footer.html" .}}
